My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const opis = item.json.description || '';\n  const numer = opis.match(/\\+?\\d{9,15}/);\n  const email = opis.match(/[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,}/);\n  const imie = opis.match(/imie:\\s*(.+)/i);\n  \n  item.json.clientimie = imie ? imie[1].trim() : null;\n  item.json.clientnumer = numer ? numer[0] : null;\n  item.json.clientemail = email ? email[0] : null;\n  \n  const dataSpotkania = new Date(item.json.start.dateTime || item.json.start.date);\n  dataSpotkania.setHours(dataSpotkania.getHours() + 1);\n  const now = new Date();\n  const czasSpotkania = new Date(dataSpotkania).toTimeString().slice(0,5);\n  const godzDoSpotkania = (dataSpotkania - now) / (1000 * 60 * 60);\n  item.json.godzDoSpotkania = parseFloat(godzDoSpotkania.toFixed(2));\n  item.json.czasSpotkania = czasSpotkania; \n  item.json.dataSpotkania = dataSpotkania;\n   return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        208
      ],
      "id": "d8669196-f662-4514-8c0a-82d7b01b7179",
      "name": "sprawdzenie czasu do spotkania"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "tarasbabko01@gmail.com",
          "mode": "list",
          "cachedResultName": "tarasbabko01@gmail.com"
        },
        "returnAll": true,
        "timeMax": "=={{ new Date(Date.now() + 1000 * 60 * 60 * 25) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        912,
        208
      ],
      "id": "0be0b164-93de-49a8-9059-5f987f50e3d9",
      "name": "wszystkie spotkania",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "mcXB7NXTsibL4u7Y",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        704,
        208
      ],
      "id": "30706a16-5562-46a4-95b7-d0c5976849a1",
      "name": "sprawdzenie spotkan co godzinę"
    },
    {
      "parameters": {
        "chatId": "697307913",
        "text": "=Za dzień jest spotkanie z {{ $('sprawdzenie czasu do spotkania').item.json.clientimie }} o {{ $('sprawdzenie czasu do spotkania').item.json.czasSpotkania }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1968,
        64
      ],
      "id": "e2b99497-b3ae-4cf9-bd6e-98fb02d6903f",
      "name": "Wysyłanie sobie przypomnienia",
      "webhookId": "e8af83b4-f331-4abb-9486-7a68038e60b9",
      "credentials": {
        "telegramApi": {
          "id": "tORIwelX7A0USz1R",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "tarasbabko@gmail.com",
        "toEmail": "={{ $('sprawdzenie czasu do spotkania').item.json.clientemail }}",
        "subject": "zaproszenie ",
        "emailFormat": "text",
        "text": "=Dzień dobry ,{{$json.clientimie }}\nPrzypominamy o spotkaniu za dzień o {{ $('sprawdzenie czasu do spotkania').item.json.czasSpotkania }}.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1776,
        64
      ],
      "id": "9c0f6407-37c1-45a8-a387-210875323ba7",
      "name": "przypomnienie za dzień klientowi",
      "webhookId": "b3315a6a-a487-4eaa-af20-0a7b152d0d18",
      "credentials": {
        "smtp": {
          "id": "1eoyzyUer9Aie4bv",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "to": "={{ $('sprawdzenie czasu do spotkania').item.json.clientnumer }}",
        "message": "=Dzień dobry ,{{$json.clientimie }} Przypominamy o spotkaniu o {{ $json.start.dateTime}}.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2160,
        64
      ],
      "id": "ff054a88-aa56-4bc1-9e47-9c82a8d9c4aa",
      "name": "wysyłanie smsa"
    },
    {
      "parameters": {
        "fromEmail": "tarasbabko@gmail.com",
        "toEmail": "={{ $('sprawdzenie czasu do spotkania').item.json.clientemail }}",
        "subject": "przypomnienie",
        "emailFormat": "text",
        "text": "=Dzień dobry ,{{$json.clientimie }}\nprzypominam o spotkaniu za godzinę o {{ $('sprawdzenie czasu do spotkania').item.json.czasSpotkania }}.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1776,
        336
      ],
      "id": "c01a15a2-adf6-4082-b3c1-d25592490e0b",
      "name": "przypomnienie za godzine",
      "webhookId": "b3315a6a-a487-4eaa-af20-0a7b152d0d18",
      "credentials": {
        "smtp": {
          "id": "1eoyzyUer9Aie4bv",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "697307913",
        "text": "=Za godzinę jest spotkanie z {{ $('sprawdzenie czasu do spotkania').item.json.clientimie }} o {{ $('sprawdzenie czasu do spotkania').item.json.czasSpotkania }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1968,
        336
      ],
      "id": "f8d21765-79ce-4c69-a989-e46b3e25a7b7",
      "name": "Wysyłanie sobie przypomnienia za godzinę",
      "webhookId": "e8af83b4-f331-4abb-9486-7a68038e60b9",
      "credentials": {
        "telegramApi": {
          "id": "tORIwelX7A0USz1R",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "30160020-252f-4bc0-80f2-43275d21686c",
              "leftValue": "={{ $json.godzDoSpotkania }}",
              "rightValue": 23,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "1925379c-39bc-415d-957b-deed4f737643",
              "leftValue": "={{ $json.godzDoSpotkania }}",
              "rightValue": 24,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1328,
        208
      ],
      "id": "b99ead2b-0d5c-4e91-9211-2c1425506c5b",
      "name": "sprawdzenie za dzień"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "97b8c0c9-a32a-42bc-b438-82559e6ef0fc",
              "leftValue": "={{ $json.godzDoSpotkania }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1536,
        336
      ],
      "id": "8e892114-80ce-4514-bf0a-b08d579b284e",
      "name": "sprawdzenie za godzinę"
    }
  ],
  "pinData": {},
  "connections": {
    "sprawdzenie czasu do spotkania": {
      "main": [
        [
          {
            "node": "sprawdzenie za dzień",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wszystkie spotkania": {
      "main": [
        [
          {
            "node": "sprawdzenie czasu do spotkania",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sprawdzenie spotkan co godzinę": {
      "main": [
        [
          {
            "node": "wszystkie spotkania",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wysyłanie sobie przypomnienia": {
      "main": [
        []
      ]
    },
    "przypomnienie za dzień klientowi": {
      "main": [
        [
          {
            "node": "Wysyłanie sobie przypomnienia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wysyłanie smsa": {
      "main": [
        []
      ]
    },
    "przypomnienie za godzine": {
      "main": [
        [
          {
            "node": "Wysyłanie sobie przypomnienia za godzinę",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sprawdzenie za dzień": {
      "main": [
        [
          {
            "node": "przypomnienie za dzień klientowi",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sprawdzenie za godzinę",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sprawdzenie za godzinę": {
      "main": [
        [
          {
            "node": "przypomnienie za godzine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2a22eb22-5bfe-4f57-85f5-b45c1caa1420",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe79fb2a91e4f7e430b227920fadbddf99d75746f812ac52d32c3afceb44e46e"
  },
  "id": "dash0rqPFRtTwSne",
  "tags": []
}